# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
    
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  changes:
    name: Filter change check job
    runs-on: macos-latest
    outputs:
      iconfont: ${{ steps.filter.outputs.testScript }}
    steps:
      # check out the repository
      - name: check out
        uses: actions/checkout@v2
        with:
          ref: main
        
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            testScript:
              - 'test.py'
  
  second:
    name: Passed the first
    needs: [changes]
    if: ${{ needs.changes.outputs.testScript == 'true' }}
    runs-on: macos-latest
    steps:
      - name: confirmation
        run: |
          echo "success"
