# This is a basic workflow to help you get started with Actions

name: Test Workflow

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  runTestScript:
    name: run the test script
    runs-on: macos-latest
    steps:
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
            python-version: '3.x' # Version range or exact version of a Python version to use, using SemVer's version range syntax
            architecture: 'x64' # optional x64 or x86. Defaults to x64 if not specified
            
      - name: install dependencies
        run: |
          pip install firebase-admin
          
      - run: |
          python ./test.py
          
      - name: aftermath
        if: ${{ always }}
        run: echo "after run the script, this should not be here if the previous step failed"
