# This is a basic workflow to help you get started with Actions

name: Test Workflow

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  runTestScript:
    name: run the test script
    runs-on: macos-lastest
    steps:
      - run: |
          echo "Hello world"
